* {
  color: #f8f8f2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  /* outline: thin white solid; */
}

body {
  background-color: #44475a;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
body:hover::before {
  opacity: 1;
}
body::before {
  border-radius: inherit;
  content: "";
  height: 100vh;
  left: 0px;
  opacity: 1;
  position: fixed;
  top: 0px;
  transition: opacity 500ms;
  width: 100vw;
  z-index: -1;
  background: linear-gradient(-45deg, #f8f8f2, transparent);
  background-size: 500% 500%;
  animation: 15s bkg-pulse infinite ease;
}

@keyframes bkg-pulse {
  from, to {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

#rustcommit-logo {
  position: fixed;
  height: 5rem;
  margin: 1rem;
}

.container {
  padding: 2rem;
  width: calc(100% - 4rem);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.container > * {
  width: 30vw;
}

button {
  border: 2px solid transparent;
  border-radius: 999rem;
  padding: 0.75rem 1.5rem;
  background-color: #bd93f9;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:focus {
  border: 2px solid white;
  animation: 0.25s click ease-in-out;
}

@keyframes click {
  15% {
    background-color: #44475a;
  }
  75% {
    background-color: #44475a;
  }
  from,
  to {
    background-color: #bd93f9;
  }
}

input {
  border: none;
  background-color: #44475a;
  padding: 1rem;
  border-radius: 999rem;
}

textarea {
  border: none;
  background-color: #44475a;
  padding: 1rem;
  border-radius: 1.5rem;
  height: 30vh;
  resize: none;
}

#path {
  text-align: center;
  height: 0.9rem;
}

.custom-dropdown__select {
  width: 100%;
  font-size: inherit;
  padding: 0.5em;
  margin: 0;
  background-color: #44475a;
  color: #f8f8f2;
}

@supports (pointer-events: none) and (appearance: none) {
  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .custom-dropdown__select {
    padding: 1rem;
    padding-right: 2.5em;
    border: 0;
    border-radius: 999rem;
    appearance: none;
  }

  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  .custom-dropdown::after {
    content: "\23F7";
    height: 1em;
    font-size: 0.625em;
    line-height: 1;
    right: 1.5rem;
    top: 50%;
    margin-top: -0.5em;
    color: #f8f8f2;
  }

  .custom-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 999rem 999rem 0;
    background-color: #44475a;
  }
}

.tiles {
  height: calc(100vh - 1px);
  width: calc(100vw);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  opacity: 1;
}

.tile {
  position: relative;
  opacity: 1;
}

.tile::before {
  content: "";
  inset: 0.5px;
  position: absolute;
  background-color: #282a36;
}
