:root {
  --highlight-colour: #3788d8;
}

html > * {
  width: 550px;
}

*:not(
    .fc-event,
    .fc-event > *,
    .fc-event-main > *,
    .fc-event-frame,
    .fc-event-title-container,
    .fc-event-title,
    .fc-event-time
  ) {
  background: #242424 !important;
  font-weight: bold !important;
}

.fc-event-main,
.fc-event-main > *,
.fc-event-frame,
.fc-event-title-container,
.fc-event-title,
.fc-event-time {
  background: none !important;
  color: black !important;
}

* {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 1rem !important;
}

.save-btn,
.event-name-input,
.event-color-input,
.event-room-input,
.save-name-input {
  position: absolute;
  top: 1rem;
  right: 10rem;
  padding: 0.5rem 1rem !important;
  border-radius: 3px !important;
  color: white !important;
  font-weight: bolder !important;
  background: #484848 !important;
  border: none !important;
  height: 2rem !important;
}

.save-btn {
  cursor: pointer !important;
}

.event-room-input {
  min-width: 20rem;
  left: 24rem;
}

.event-color-input {
  overflow: hidden;
  padding: 0 !important;
  width: 2rem !important;
  border-radius: 50% !important;
  cursor: pointer;
  left: 45rem;
}

.event-name-input {
  min-width: 20rem;
  left: 3rem;
}

.fc-header-toolbar {
  height: 2rem !important;
}

.fc-button {
  position: absolute !important;
  top: 1rem !important;
  z-index: 10 !important;
  display: grid !important;
  place-content: center !important;
  padding: 0.5rem 1rem !important;
  border-radius: 3px !important;
  color: white !important;
  font-weight: bolder !important;
  background: #484848 !important;
  border: none !important;
  height: 2rem !important;
  text-transform: capitalize !important;
}

.fc-timeGridWeek-button {
  right: 2rem !important;
  background-color: #323232 !important;
  color: #606060 !important;
}

.fc-col-header-cell-cushion,
.fc-timegrid-slot-label-cushion {
  color: white !important;
}

.fc-theme-standard td {
  border: 1px solid white !important;
}

.fc-timegrid-slot-lane,
.fc-timegrid-slot-label {
  outline: 1px solid white;
}

.fc-col-header-cell {
  position: relative !important;
  outline: 1px solid white;
  outline-offset: -1px;
  padding-inline: 1rem !important;
}

.fc-col-header-cell::before {
  content: "";
  position: absolute !important;
  height: 100vh !important;
  z-index: 12 !important;
  outline: 1px solid white !important;
  top: 0;
  left: 0;
}

.fc-highlight {
  background: var(--highlight-colour) !important;
  outline: 2px solid white;
}
